extends ../layouts/admin-layout

block content
    .nav-scroller.box-shadow.selector
        nav.nav.nav-underline.d-flex.align-items-center.justify-content-center
            select.custom-select.m-3.w-25
                option(selected='') Sélection rapide
                option(value='1') Capteur 1
                option(value='2') Capteur 2
                option(value='3') Capteur 3

    main.container-fluid.pt-5(role='main')
        .selector.position-fixed
        .charts
            .row
                .col-3
                    .card
                        .card-body
                            h5.card-title.mb-2 Nom du capteur
                            h6.card-subtitle.mb-3.text-muted Sous-texte
                            p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                .col-9
                    .card
                        .card-body.d-flex.align-items-center.justify-content-center
                            canvas#myChart(width='1000' height='200')
                    .blank-spaces

    include ../misc/scripts

block scripts
    script.
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['1 décembre', '2 décembre', '3 décembre'],
                datasets: [{
                    label: 'Température',
                    data: [12, 19, 3],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });