include ../misc/head
include ../mixins/mixins

body.h-100
    section#login
        form.form-signin(autocomplete="off")
            input(autocomplete='false' name='hidden' type='text' style='display:none;')
            .text-center.mb-4
                img.mb-4.logo(src='/images/hydra_logo_v2.png' alt='Logo Hydra')
                +sectionTitle("Administration").mt-4
            .form-label-group
                input#inputEmail.form-control(type='email' placeholder='Adresse courriel' required='' autofocus='')
                label(for='inputEmail') Adresse courriel
            .form-label-group
                input#inputPassword.form-control(type='password' placeholder='Mot de passe' required='' autocomplete="new-password")
                label(for='inputPassword') Mot de passe
            .custom-control.custom-checkbox.mb-3
                input#remember-me.custom-control-input(type='checkbox')
                label.custom-control-label(for='remember-me') Se souvenir de moi
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Se connecter
            p.mt-5.mb-3.text-muted.text-center &copy; Hydra
