nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
    a.navbar-brand.d-flex.align-items-center(href='#')
        img.d-inline-block.align-topimg.pr-3(src="/images/hydra.png" alt="Logo Hydra" title="Logo Hydra")
        | Panneau d'administration
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item(class=(path === "/" ? "active" : ""))
                a.nav-link(href='/admin/') Accueil
            li.nav-item(class=(path === "/graphiques" ? "active" : ""))
                a.nav-link(href='/admin/graphiques') Graphiques
            li.nav-item(class=(path === "/config" ? "active" : ""))
                a.nav-link(href='/admin/config') Configuration
        .dropdown
            button#dropdownMenuButton.btn.btn-success.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Administrateur
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#') Modifier le mot de passe
                .dropdown-divider
                a.dropdown-item.text-danger(href='#') Déconnexion