header#header
  .container-fluid.d-flex.align-items-center.justify-content-between.h-100
    #logo.pull-left
      a
        img(src="/images/hydra_logo_v2.png" alt="Logo Hydra" title="Logo Hydra")
    nav#nav-menu-container
      ul.nav-menu
        li(class=(path === "/index" ? "menu-active" : ""))
          a(href='/') Accueil
        li(class=(path === "/statistiques" ? "menu-active" : ""))
          a(href='/statistiques') Statistiques
        li(class=(path === "/serre" ? "menu-active" : ""))
          a(href='/serre') Serre
        li(class=(path === "/a-propos" ? "menu-active" : ""))
          a(href='/a-propos') À propos