include ../misc/head
include ../mixins/mixins

body.has-fixed-navbar
    nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
        a.navbar-brand.d-flex.align-items-center(href='#')
            img.d-inline-block.align-topimg.pr-3(src="/images/hydra.png" alt="Logo Hydra" title="Logo Hydra")
            | Panneau d'administration
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='#') Accueil
                li.nav-item
                    a.nav-link(href='#') Graphiques
                li.nav-item
                    a.nav-link(href='#') Configuration
            .dropdown
                button#dropdownMenuButton.btn.btn-success.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Administrateur
                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='#') Modifier le mot de passe
                    .dropdown-divider
                    a.dropdown-item.text-danger(href='#') Déconnexion
    .nav-scroller.box-shadow.selector
        nav.nav.nav-underline.d-flex.align-items-center.justify-content-center
            select.custom-select.m-3.w-25
                option(selected='') Sélection rapide
                option(value='1') Capteur 1
                option(value='2') Capteur 2
                option(value='3') Capteur 3

    main.container-fluid.pt-5(role='main')
        .selector.position-fixed
        .charts
            .row
                .col-3
                    .card
                        .card-body
                            h5.card-title.mb-2 Nom du capteur
                            h6.card-subtitle.mb-3.text-muted Sous-texte
                            p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

                .col-9
                    .card
                        .card-body.d-flex.align-items-center.justify-content-center
                            canvas#myChart(width='1000' height='200')
                    .blank-spaces

    include ../misc/scripts
    script.
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['1 décembre', '2 décembre', '3 décembre'],
                datasets: [{
                    label: 'Température',
                    data: [12, 19, 3],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    block scripts