section#about
    .container
        +sectionTitle("Projet", "Texte descriptif")
        .row.about-cols
            +aboutCard("Notre mission", "Texte", "images/about-mission.jpg", "ion-md-locate")
            +aboutCard("Notre plan", "Texte", "images/about-plan.jpg", "ion-md-clipboard")(data-wow-delay='0.1s')
            +aboutCard("Notre vision", "Texte", "images/about-vision.jpg", "ion-md-eye")(data-wow-delay='0.2s')