section#clients.wow.fadeInUp.section-bg
    .container
        +sectionTitle("Partenaires")
        .partners
            - let partnersCount = 4; //- Utilisé pour diviser le width des images
                +partnerImage("HUB du Cégep de Sorel-Tracy","images/partners/hub.png")
                +partnerImage("Camping Parc Bellerive","images/partners/camping.png")
                +partnerImage("Cégep de Sorel-Tracy","images/partners/cegepst.png")
                +partnerImage("Société d'aide au développement de la collectivité","images/partners/sadc.png")