//-   ----------------------------------------------------------------
      TODO: Downloader les fonts en local
      ----------------------------------------------------------------
doctype html
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1.0", name="viewport")
        title #{pageTitle}

        //- FAVICONS
        link(href='images/favicon.png' rel='icon')
        link(href='images/apple-touch-icon.png' rel='apple-touch-icon')

        //- FONTS
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' rel='stylesheet')

        //- VENDOR CSS
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/animate.css/animate.min.css')
        link(rel='stylesheet', href='/ionicons/dist/css/ionicons.min.css')
        link(rel='stylesheet', href='/owl.carousel/dist/assets/owl.carousel.min.css')
        link(rel='stylesheet', href='/chart.js/dist/Chart.css')

        //- CUSTOM CSS
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/custom.css')

        //
          =======================================================
          Theme Name: BizPage
          Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
          Author: BootstrapMade.com
          License: https://bootstrapmade.com/license/
          Pug / Express adaptation: Jocelyn Allard
          =======================================================