section#facts.wow.fadeIn
  .container
    +sectionTitle("Chiffres")
    .row.counters.justify-content-center
      +bigNumber(1500, "Heures travaillées").number-plus
      +bigNumber(9, "Travailleurs acharnés")
