section#team
  .container
    +sectionTitle("Équipe", "Voici les membres de l'équipe ayant participé à la réalisation de ce projet :").wow.fadeInUp
    .row
      +teamMember("Alexandre Vovan", "Professeur émérite et bourreau", "images/team-1.jpg")
      +teamMember("Jocelyn Allard", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.1s')
      +teamMember("Ludovic Belzile ", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.2s')
      +teamMember("Charles Bres", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.3s')
      +teamMember("Marc-André Doyon", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.4s')
      +teamMember("Guillaume Dufour", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.5s')
      +teamMember("Timothy Farley", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.6s')
      +teamMember("Keven St-Pierre", "Étudiant", "images/team-1.jpg")(data-wow-delay='0.7s')
