section#team
  .container
    +sectionTitle("Équipe", "Voici les membres de l'équipe ayant participé à la réalisation de ce projet :").wow.fadeInUp
    .row
      +teamMember("Alexandre Vovan", "Professeur émérite et bourreau", "images/person_img.webp")
      +teamMember("Jocelyn Allard", "Étudiant", "images/person_img.webp")(data-wow-delay='0.1s')
      +teamMember("Ludovic Belzile ", "Étudiant", "images/person_img.webp")(data-wow-delay='0.2s')
      +teamMember("Charles Bres", "Étudiant", "images/person_img.webp")(data-wow-delay='0.3s')
      +teamMember("Marc-André Doyon", "Étudiant", "images/person_img.webp")(data-wow-delay='0.4s')
      +teamMember("Guillaume Dufour", "Étudiant", "images/person_img.webp")(data-wow-delay='0.5s')
      +teamMember("Timothy Farley", "Étudiant", "images/person_img.webp")(data-wow-delay='0.6s')
      +teamMember("Keven St-Pierre", "Étudiant", "images/person_img.webp")(data-wow-delay='0.7s')
      +teamMember("Ludovick Champagne", "Étudiant", "images/person_img.webp")(data-wow-delay='0.8s')
      +teamMember("Xavier Mathieu", "Étudiant", "images/person_img.webp")(data-wow-delay='0.9s')
