section#facts.wow.fadeIn
    .container
        +sectionTitle("Chiffres")
        .row.counters
            +bigNumber(23, "Capteurs")
            +bigNumber(1260, "Heures travaillées").number-plus
            +bigNumber(7, "Travailleurs acharnés")
            +bigNumber(2579, "Cafés avalés").number-plus