section#detailedList.wow.fadeInUp.page-section.section-bg
    .container
        +sectionTitle("Liste détaillée des capteurs")
        table.table.table-striped.table-hover
            thead
                tr
                    th(scope='col') Capteur
                    th.w-auto.text-center(scope='col') État
                    th.w-auto.text-center(scope='col') Valeur actuelle
                    th.w-auto.text-center(scope='col') Valeur moyenne
                    th.w-auto.text-center(scope='col') Cible
                    th.w-auto.text-center(scope='col') Statut
                    th.w-auto.text-center(scope='col')
            tbody
                tr
                    td pH de la rivière
                    td.w-auto.text-center
                        span.ml-2.badge.badge-pill.badge-success En fonction
                    td.w-auto.text-center 8,2
                    td.w-auto.text-center 8,1
                    td.w-auto.text-center 7,6
                    td.w-auto.text-center
                        span.ml-2.badge.badge-pill.badge-danger Trop élevé
                    td.w-auto.text-center
                        button.btn.btn-sm.btn-primary Voir graphique
                tr
                    td pH de l'eau traitée
                    td.w-auto.text-center
                        span.ml-2.badge.badge-pill.badge-success En fonction
                    td.w-auto.text-center 7
                    td.w-auto.text-center 7
                    td.w-auto.text-center 7
                    td.w-auto.text-center
                        span.ml-2.badge.badge-pill.badge-success Excellent
                    td.w-auto.text-center
                        button.btn.btn-sm.btn-primary Voir graphique
