//- BOOTSTRAP REQUIREMENTS
script(src='/jquery/dist/jquery.min.js')
script(src='/jquery-migrate/dist/jquery-migrate.min.js')
script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')

//- VENDORS
script(src='/jquery.easing/jquery.easing.min.js')
script(src='/superfish/dist/js/hoverIntent.js')
script(src='/superfish/dist/js/superfish.min.js')
script(src='/wow.js/dist/wow.min.js')
script(src='/waypoints/lib/jquery.waypoints.min.js')
script(src='/owl.carousel/dist/owl.carousel.min.js')
script(src='/isotope-layout/dist/isotope.pkgd.min.js')
script(src='/lightbox2/dist/js/lightbox.min.js')
script(src='/jquery-touchswipe/jquery.touchSwipe.min.js')
script(src='/chart.js/dist/Chart.bundle.js')

//- CUSTOM JAVASCRIPT
script(src='/javascripts/contactform.js')
script(src='/javascripts/main.js')

//- MISC
