//- --- TODOS -----------------------------------------------

  -----------------------------------------------------------

extends ../layouts/main-layout
include ../mixins/mixins

block content

  +pageHeader("À propos", "", "images/intro-carousel/1.jpg")

  main#main
    section#genesis.wow.fadeInUp.page-section
      .container
        +sectionTitle("Genèse du projet")
        p La SADC s’est montrée intéressée à collaborer financièrement à un projet de serre intelligente avec le HUB du Cégep de Sorel-Tracy. Manifestement, ce type de projet cadre à merveille avec les objectifs des cours « Framework mobile » et « Environnement Framework ». Une majorité des étudiants ont d’ailleurs démontré un intérêt pour ce projet. Cette serre devra répondre à plusieurs besoins, dont de limiter les interventions humaines en automatisant un maximum de processus et de récolter des données pertinentes aux utilisateurs à l’aide de capteurs.
    section#expectations.wow.fadeInUp.page-section.section-bg
      .container
        +sectionTitle("Attentes")
        p Notre objectif
    section#process.wow.fadeInUp.page-section
      .container
        +sectionTitle("Déroulement (phase 1, 2...)")
    section#future.wow.fadeInUp.page-section.section-bg
      .container
        +sectionTitle("La suite des choses")