extends ../layouts/main-layout
include ../mixins/mixins

block content

  // ===== SECTION CARROUSEL =====
  include ../sections/home-carousel

  main#main

    // ===== SECTION LE PROJET =====
    include ../sections/home-project

    // ===== SECTION CTA =====
    +callToAction("Un projet en exploitation libre", "Le code et la documentation sont disponibles au grand public. Les gens désirant collaborer et apporter des améliorations au projet sont invités à rejoindre le dépôt officiel.", "Visitez notre page GitHub!", "https://github.com/hubertmathieu/hydra-project")

    // ===== SECTION CHIFFRES =====
    include ../sections/home-numbers

    // ===== SECTION PARTENAIRES =====
    include ../sections/home-partners

    // ===== SECTION CONTACT =====
    include ../sections/home-contact

    // ===== SECTION MAP =====
    include ../sections/home-map
