//- --- TODOS -----------------------------------------------

  -----------------------------------------------------------

extends ../layouts/main-layout
include ../mixins/mixins

block content

  +pageHeader("Serre", "", "images/intro-carousel/1.jpg")

  main#main

    // ===== SECTION PIECES =====
    include ../sections/greenhouse-pieces

    // ===== SECTION IMAGES =====


block scripts
